.mix_fx-flex {
  display: flex;
}
.fx {
  flex: 1;
  min-width: 1px;
}
.fx-vc {
  align-items: center;
  -ms-flex-align: center;
}
.fx-drr {
  flex-direction: row-reverse;
}
.fx-wrap {
  flex-wrap: wrap;
}
.fx-df {
  display: flex;
  align-items: flex-start;
  -ms-flex-align: start;
}
/*directional*/
.fx-lt {
  display: flex;
  align-items: flex-start;
  -ms-flex-align: start;
}
.fx-lc {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
}
.fx-lb {
  display: flex;
  align-items: flex-end;
  -ms-flex-align: end;
}
.fx-ct {
  display: flex;
  align-items: flex-start;
  -ms-flex-align: start;
  justify-content: center;
  -ms-flex-pack: center;
}
.fx-c {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.fx-cb {
  display: flex;
  align-items: flex-end;
  -ms-flex-align: end;
  justify-content: center;
  -ms-flex-pack: center;
}
.fx-rt {
  display: flex;
  align-items: flex-start;
  -ms-flex-align: start;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.fx-rc {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.fx-rb {
  display: flex;
  align-items: flex-end;
  -ms-flex-align: end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.fx-jsa {
  display: flex;
  justify-content: space-around;
  -ms-flex-pack: justify;
}
.fx-jsb {
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.fx-dc {
  display: flex;
  flex-direction: column;
}
.fx-dc--center {
  align-items: center;
  -ms-flex-align: center;
}
.fx-dc--right {
  align-items: flex-end;
  -ms-flex-align: end;
}
.fx-str {
  display: flex;
  align-items: stretch;
  -ms-flex-align: stretch;
}
.fx-str > div {
  height: auto;
}
.fx-str--center {
  justify-content: center;
}
.fx-str--right {
  justify-content: flex-end;
}
